.form{
    background-color: black;
    justify-content: center;
    align-items: center;
    border: 0px;
    box-shadow: 7px 13px 37px rgb(20, 19, 54);
    max-height: 600px;
}


.input{
    border:none;
    border-bottom: 2px solid #ffffff ;
    width: 50px;
    font-size: 15px;
    background-color: black;
    color: white;
    font-weight: 700;
    margin-bottom: 5px;
}

.error{
    color:rgb(170, 1, 1);
    font-weight: 400;
}
