.form{
    background-color: #1a1a1a;
    justify-content: center;
    align-items: center;
    border: #388595;
    box-shadow: 7px 13px 37px rgb(20, 19, 54);
}


.input{
    border:none;
    border-bottom: 2px solid #ffffff ;
    width: 50px;
    font-size: 15px;
    background-color: #1a1a1a;
    color: white;
    font-weight: 700;
}